
.search {
  display: flex;
  background-color: #F4F4F5; /* zinc-100 */
  border-radius: 10px;
  max-height: 48px;
  width: 100%;
}

.search__input {
  background-color: transparent;
  border: 0;
  font-size: .9rem;
  margin-left: .5rem;
  width: 100%;
}

.search__input:focus,
.search__input:focus-visible {
  border: 0;
}

.search__button {
  background-color: transparent;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  transform: rotate(90deg);
}