.navbar {
  background-color: #A1A1AA; /* zinc-400 */
  box-shadow: 1px 3px 3px #D1D5DB;
  height: 70px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.7rem;
  margin-left: 1.5rem;
}

.tabbar {
  display: flex;
}

.tabbar__addbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: #D4D4D8; /* zinc-300 */
  color: #A1A1AA; /* zinc-400 */
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: .5rem;
  padding-bottom: 7px;
}

.tabbar__homebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  background-color: #D4D4D8; /* zinc-300 */
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: .5rem;
  font-weight: 800;
  height: 58px;
}

.tabbar__tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E2E8F0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: .5rem;
}

.tabbar__tab span:nth-child(2) {
  font-weight: 800;
  font-size: .9rem;
}
